# 중간 점검

## 1. 선형대수학

### 1)	다음 행렬 A의 Gauss Elimination을 구현하고, rank를 알아낼 것(직접 혹은 library들의 함수 사용), 그 후 A가 singular 한지 nonsingular 한지 판단할 것

In [1]:
# Import libraries for 1-1)
import numpy as np
from scipy.linalg import lu

In [2]:
A = np.array([[2, 3, 0], [4, 5, 1], [2, -1, -3]])
_, U = lu(A, permute_l = True)

In [3]:
U # The result of Gauss Elimination of A

array([[ 4. ,  5. ,  1. ],
       [ 0. , -3.5, -3.5],
       [ 0. ,  0. , -1. ]])

In [4]:
np.linalg.det(A) # Floating point error

14.000000000000004

In [5]:
np.linalg.det(U) # Floating point error

14.000000000000004

The result of Gauss Elimination of A is
\begin{bmatrix}
4 & 5 & 1\\
0 & -3.5 & -3.5\\
0 & 0 & -1
\end{bmatrix}
And
$$rank(A)=3$$
By the value of matrix determination of A and the existence of pivots, A is a non-singular matrix.

### 2) A의 열벡터들이 선형 독립인지 선형 종속인지 판단할 것

By the result of Question 1.1., the matrix A has a trivial solution.
So, column vectors of A are linearly independent.

### 3)	식의 해를 구할 것(back-substitution 사용) (singular 하다면 해를 구하지 않아도 됨)

$$\left[
\begin{array}{ccc|c}
2 & 3 & 0 & 0 \\
4 & 5 & 1 & 3 \\   
2 & -1 & -3 & 5 \\
\end{array}
\right]$$

1. $$l_2 - l_1 \times 2 \rightarrow l_2$$
$$\left[
\begin{array}{ccc|c}
2 & 3 & 0 & 0 \\
0 & -1 & 1 & 3 \\   
2 & -1 & -3 & 5 \\
\end{array}
\right]$$

2. $$l_3 - l_1 \rightarrow l_2$$
$$\left[
\begin{array}{ccc|c}
2 & 3 & 0 & 0 \\
0 & -1 & 1 & 3 \\   
0 & -4 & -3 & 5 \\
\end{array}
\right]$$

3. $$l_3 - l_2 \times 4 \rightarrow l_3$$
$$\left[
\begin{array}{ccc|c}
2 & 3 & 0 & 0 \\
0 & -1 & 1 & 3 \\   
0 & 0 & -7 & -7 \\
\end{array}
\right]$$

$$-7z=-7, z=1$$
$$-y+z=-y+1=3, y=-2$$
$$2x+3y=2x-6=0, x=3$$

$$\therefore x=3, y=-2, z=1$$

In [6]:
# Check the solution
b = np.array([0, 3, 5])
x = np.linalg.solve(A, b)
x

array([ 3., -2.,  1.])

### 4)	A의 determinant를 구할 것

$$det(A) = 2 \times (5 \times (-3) - 1 \times (-1)) - 3 \times (4 \times (-3) - 1 \times 2) + 0 = 14$$

### 5)	A의 eigenvalue, eigenvector를 구할 것

$$\begin{vmatrix}
2-\lambda & 3 & 0\\
4 & 5-\lambda & 1\\
2 & -1 & -3-\lambda
\end{vmatrix}$$

\begin{align}
&=(2-\lambda)((5-\lambda)(-3-\lambda)+1)-3(4(-3-\lambda)-2) \\ &=-\lambda^3 + 4\lambda^2 + 22\lambda + 14 \\ 
&=0 &&
\end{align}

In [7]:
# Import a library for 1-5)
import sympy as sym
import cmath

In [8]:
l = sym.Symbol('l')
eq = -(l ** 3) + 4 * (l ** 2) + 22 * l + 14
eq = sym.Eq(eq, 0)
result = sym.solve(eq)
result

[4/3 + (-1/2 - sqrt(3)*I/2)*(649/27 + sqrt(1607)*I/3)**(1/3) + 82/(9*(-1/2 - sqrt(3)*I/2)*(649/27 + sqrt(1607)*I/3)**(1/3)),
 4/3 + 82/(9*(-1/2 + sqrt(3)*I/2)*(649/27 + sqrt(1607)*I/3)**(1/3)) + (-1/2 + sqrt(3)*I/2)*(649/27 + sqrt(1607)*I/3)**(1/3),
 4/3 + 82/(9*(649/27 + sqrt(1607)*I/3)**(1/3)) + (649/27 + sqrt(1607)*I/3)**(1/3)]

In [9]:
[complex(c).real for c in result]

[-0.762072500784623, -2.5220535026197273, 7.28412600340435]

In [10]:
# Check the solution
eig_val, eig_vec = np.linalg.eig(A)
eig_val, eig_vec

AttributeError: module 'sympy' has no attribute 'explicieig_val'

## 2. 베이즈 법칙

### 1) 어떤 회사가 연휴 기간에 직원들에게 숙박시설을 제공하기 위해 3개의 지방 호텔을 사용하였다. 과거의 경험에 의하면, 직원의 20%가 x호텔에 예약하고, y호텔에 50%, z호텔에 30%의 예약을 하는 것으로 알고 있다. x호텔 객실의 5%, y호텔 객실의 4%, z호텔 객실의 8%의 비율로 방 안의 전기가 나갔다.

### 2) 어떤 직원이 전기가 나간 방에 예약할 확률을 구하여라

In [ ]:
print(str((0.2 * 0.05 + 0.5 * 0.04 + 0.3 * 0.08) * 100) + "%")

### 3) 전기가 나간 방에 숙박하게 된 직원이 z호텔을 예약했을 확률은?

In [ ]:
print(str(((0.3 * 0.08) / (0.2 * 0.05 + 0.5 * 0.04 + 0.3 * 0.08)) * 100) + "%")

## 3. 정규분포

### 1) 어떤 자판기에서 판매되는 음료수의 용량은 모평균이 150mL, 모표준편차가 5mL인 정규분포를 따른다고 한다, 이 자동판매기에서 100개를 임의로 추출하여 표본평균 x ̅ 를 구했을 때, P(149≤x ̅≤151)의 값을 구하여라.

$$\bar{N} ~ (150, ({{1}\over{2}})^2$$
$$149≤\bar{X}≤151$$
$$\rightarrow -2≤Z≤2$$
$$P(-2≤Z≤2)=0.9544$$

## 4. pandas, numpy

### 1) Titanic 데이터셋을 불러와서 age의 결측치 모두를 age의 결측치가 아닌 값들의 중앙값으로 채우고, age의 평균, 분산, 표준편차를 구하여라

In [ ]:
# Import a library for 4-1)
import pandas as pd

In [ ]:
df = pd.read_csv('/Users/seolyumin/Downloads/titanic/test.csv')

In [ ]:
df

In [ ]:
med = df.Age.median()
med

In [ ]:
df[df.Age.isnull()]

In [ ]:
df.Age.fillna(med, inplace = True)

In [ ]:
df[df.Age.isnull()]

### 2) Titanic 데이터셋에서, 생존자 중 여자의 age 평균을 구하여라

In [ ]:
df[df.Sex == 'female'].Age.mean()

## 5. pandas, numpy

### 1) Sigmoid 함수를 numpy로 구현하라

In [ ]:
# Import libraries for 5-1)
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
def sigmoid(x):
    return 1 / (1 +np.exp(-x))

x = np.arange(-10.0, 10.0, 0.1)
y = sigmoid(x)
plt.plot(x, y)
plt.ylim(-0.1, 1.1)
plt.show()

### 2) MNIST 데이터를 받아서 훈련 데이터의 가장 첫 번째 이미지의 픽셀(28x28) 데이터 행렬을 벡터로 reshape하여라(1x784, 784x1 등 행벡터나 열벡터나 상관없고, 배열을 어떻게 펼치든지 상관 x)

In [ ]:
# Import libraries for 5-2)
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt

In [ ]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.mnist.load_data()

In [ ]:
first = x_train[0]
first = np.reshape(first, (784))

In [ ]:
x_train[0].shape

In [ ]:
first.shape

In [ ]:
first

### 3) 2)의 방법으로 MNIST 데이터의 훈련 데이터 중 100개를 random으로 뽑아서 픽셀 데이터 행렬을 벡터로 변환하여라

In [ ]:
indices = np.random.choice(x_train.shape[0], 100, replace=False)
X = np.reshape(np.array([x_train[i] for i in indices]), (100, 784))
np.shape(X), type(X)

### 4) W1 행렬을 784x100의 평균0, 표준편차1인 표준정규분포를 따르는 난수로 채워 정의하고, 이를 3)에서 만든 벡터들로 이루어진 100x784 행렬(X)과 곱하라[(X * W1) 순서로 곱하라]

In [ ]:
W1 = np.random.normal(size=(784, 100))
W1

In [ ]:
X@W1